html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }
  

  @media (min-width: 992px) {
    .hero header {
      margin-right: 400px; /* ou 50px, 6rem, etc. — ajuste conforme quiser */
    }
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* margem entre a header e o texto*/
  main {
    padding-top: 12px;
  }

  /* COnfigurações na boy*/
body {
  font-size: 1.08rem;
  background: #ebebe2;
  color: #212529;
  line-height: 1.7;
  padding-bottom: 2rem;
}

.oracoes-centralizada{
  max-width: 98vw;
  margin: 1.5rem auto;
  padding: 1.3rem 1rem 2.5rem 1rem;
}

h1, h2, h3 {
  text-align: center;
  color: #000000;
  margin-top: 1.7rem;
}
 h3{
    font-size: 18px;
 }


@media (min-width: 700px) {
  .oracoes-centralizada {
    max-width: 650px;
    padding: 2rem;
  }
}
/* aba do rito da comunhao */
.offcanvas-header{
  background-color: #5e4cd4;
}



.offcanvas-body{
  background: #ebebe2;
  
}

.offcanvas-header{
  background-color: #000000;
  text-align: center;
}


/*classe para específica para os textos*/

.negrito {
  font-weight: bold;
}
.destaque-vermelho {
  color: #dc4231;  /* vermelho escuro bonito */
}

/*.instituicao{
  line-height: 1.5;
}*/

.rubrica {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #ce5229;   /* Rubrica tradicional: vermelho escuro */
    font-style: italic;
    margin-bottom: 0.1em;
}

@media (max-width: 576px) {
  .rubrica {
    line-height: 1.2; /* ou ajuste o valor para o ideal no mobile */
    font-size: 13px;
  }
}

/* remove a seta so summary */
details summary {
  list-style: none;         /* Remove o marcador */
}

details summary::-webkit-details-marker {
  display: none;            /* Remove no Chrome/Safari */
}

.font_cruz {
  font-family: arial;
  
} 

/* Botão COMUNHÃO */

.comunhao-btn{
  background-color: #FFD700;
}

/* Botão de * na II oração e outras */
.custom-btn {
    background-color: #887d7d;  /* Cor de fundo */
    color: rgb(0, 0, 0);  /* Cor do texto */
    border-radius: 5px;  /* Borda arredondada */
    padding: 10px 20px;  /* Ajusta o espaçamento dentro do botão */
    font-size: 16px;  /* Tamanho de fonte padrão */
}

.custom-btn:hover {
    background-color: #46cc63;  /* Cor de fundo ao passar o mouse */
}

.custom-btn .rubrica {
    font-weight: bold;  /* Torna a rubrica em negrito */
}

/* Media Query para telas pequenas (ex: celulares) */
@media (max-width: 767px) {
    .custom-btn {
        padding: 8px 15px;  /* Reduz o espaçamento interno para telas pequenas */
        font-size: 14px;  /* Reduz o tamanho da fonte */
    }
}

/* Media Query para telas extra pequenas (ex: smartphones em modo retrato) */
@media (max-width: 480px) {
    .custom-btn {
        padding: 6px 12px;  /* Ajusta ainda mais o espaçamento */
        font-size: 12px;  /* Diminui ainda mais o tamanho da fonte */
    }
}

#section-pad {
  display: block;
  margin-bottom: 0;
}

/* Linha na horizontal */
hr {
  border: 0; /* Remove a borda padrão */
  height: 3px; /* Define a altura da linha */
  background-color: #000000; /* Cor da linha */
  width: 100%; /* Largura da linha */
  margin: 15px auto; /* Define a margem para centralizar */
}