html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }
  

  @media (min-width: 992px) {
    .hero header {
      margin-right: 400px; /* ou 50px, 6rem, etc. — ajuste conforme quiser */
    }
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* margem entre a header e o texto*/
  main {
    padding-top: 12px;
  }

  /* COnfigurações na boy*/
body {
  font-size: 1.08rem;
  background: #f9f9f7;
  color: #212529;
  line-height: 1.7;
  padding-bottom: 2rem;
}

.oracoes-centralizada{
  max-width: 98vw;
  margin: 1.5rem auto;
  padding: 1.3rem 1rem 2.5rem 1rem;
}

h1, h2, h3 {
  text-align: center;
  color: #000000;
  margin-top: 1.7rem;
}
 h3{
    font-size: 18px;
 }


@media (min-width: 700px) {
  .oracoes-centralizada {
    max-width: 650px;
    padding: 2rem;
  }
}

/*classe para específica para os textos*/

.negrito {
  font-weight: bold;
}
.destaque-vermelho {
  color: #dc4231;  /* vermelho escuro bonito */
}

.rubrica {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #ce5229;   /* Rubrica tradicional: vermelho escuro */
    font-style: italic;
    margin-bottom: 0.1em;
}

@media (max-width: 576px) {
  .rubrica {
    line-height: 1.2; /* ou ajuste o valor para o ideal no mobile */
    font-size: 13px;
  }
}

/* remove a seta so summary */
details summary {
  list-style: none;         /* Remove o marcador */
}

details summary::-webkit-details-marker {
  display: none;            /* Remove no Chrome/Safari */
}

