html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  @media (min-width: 992px) {
    .hero header {
      margin-right: 400px; /* ou 50px, 6rem, etc. — ajuste conforme quiser */
    }
  }

#titulo{
  color: red;
}


